.login_content{
    height: 580px;

   
    
    background-color: white;    
    margin-top: 80px;
    border-radius: 20px;
    align-items: center;
   

    width: 400px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    

}

.all_page{
    display: flex;
    flex-direction: column;
    background-color: gray;
    height: 750px;
    justify-content: space-between;
}

.idinput{
    height: 20px;
    background-color: rgb(218,218,218);
    border-radius: 10px;
    border-color: white;

}

.inputboxz{
    /* border: 1px solid black; */
    margin-left: 5%;
    margin-right: 5%;
    height: 300px;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    
   
}

.text_{

    width: 120px;
    font-weight: bold;
}

.signup_text{
  margin-top: -170px;
  color: #1258cd;
}

.id_box{
    display: flex;
    margin-top: 20px;
}

.pw_box{
    display: flex;
    margin-top: 20px; 
}

.bottom_text{
    display: flex;
    margin-top: 30px;
}

.bottom_text a{
    
}

.bottom_text_search{
    margin-left: 30px;
}

.login_content img{
    border-radius: 10px;
    margin-top: -50px;
}


.bottom_bar{
    height: 70px;
    background-color: #282828;
    
    color: white;
    
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 15pt;
    bottom: 0px;


    
}

.Signup_Button{
    width: 50px;
    margin-left : 1vh;
    margin-bottom : 10px;
    background-color: white;
    color: #1258cd;
    font-weight: bold;
    border : 2px solid  #1258cd;
    border-radius: 2rem;
    font-size : 10pt;
    height: 30px;
    cursor: pointer;
    margin-top: 8px;
    margin-right: 5px;

  }

  .Signup_Button:hover{
    background-color: rgb(73, 73, 177);
    color: white;
}

.signup_select{
    height: 30px;
    background-color: rgb(218,218,218);
    border-radius: 10px;
    border-color: white;
    width: 150px;
    margin-left: 15px;
}

.Signup_Button_finish{
    width: 70px;
    margin-left : 1vh;
    margin-bottom : 10px;
    background-color: #1258cd;
    color: white;
    font-weight: bold;
    border : 2px solid  #1258cd;
    border-radius: 2rem;
    font-size : 10pt;
    height: 30px;
    cursor: pointer;
    margin-top: 50px;
}