.boardList{
    /* border: 1px solid black; */

    height: 180px;
    margin-top: 7px;
    font-size: 11pt;
    margin-left: 20px;
 
    width: 200px;

    color: gray;

}

.boardList p{
    margin-top: 0px;
    margin-bottom: 6px;
    cursor: pointer;
}